@inherits UmbracoViewPage
@{
    var searchPage = Model.Root().Children<Search>()?.FirstOrDefault();
}
@if(searchPage != null){
    <div class="search" role="dialog" arial-label="@Umbraco.GetDictionaryValue("Search")">
    
    	<div class="search__stage">
    
            <form action="@searchPage.Url()" class="search__form">
                <label for="page-search-input" class="sr-only">@Umbraco.GetDictionaryValue("Search")</label>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" autocomplete="off" name="search" id="page-search-input" required class="search__input" placeholder="@Umbraco.GetDictionaryValue("Search Placeholder")">
                <div class="search__loader"></div>

                <div class="search__autocomplete hide">

                    <div class="search__no-results hide">
                        @Umbraco.GetDictionaryValue("No Results Found")
                    </div>

                    <ul class="search__suggest">
                    </ul>
                    <button class="button button--block">@Umbraco.GetDictionaryValue("Show all results") <span class="search__result-count"></span></button>
                </div>
            </form>
    	</div>
    	
    	<button class="search__close" title="@Umbraco.GetDictionaryValue("Close") (Esc)" tabindex="0"><i class="fa fa-times" aria-hidden="true"></i></button>
    
    </div>
    
    <button class="search-overlay"></button>
}