@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Igloo.Core.Services.ISettingsService _settingsService;
@using Igloo.Core.Extensions;
@using Smidge;
@{
    Layout = null;

    var googleAnalyticsId = _settingsService.Get<string>(Model, "googleAnalyticsID");
    var googleTagManagerID = _settingsService.Get<string>(Model, "googleTagManagerID");
    var hotjarID = _settingsService.Get<string>(Model, "hotjarID");

    var enableCookieConsentDialog = _settingsService.Get<bool>(Model, "enableCookieConsentDialog");
    var embedFont = _settingsService.Get<string>(Model, "embedFont");

    var settingsLogoUrl = _settingsService.Get<IPublishedContent>(Model, "companyLogo")?.Url();
    var settingsPhoneNumber = _settingsService.Get<string>(Model, "companyPhoneNumber");
    var settingsCompanyName = _settingsService.Get<string>(Model, "companyName");

    var hideHeader = Model.Value<bool>("hideHeader");
    var hideFooter = Model.Value<bool>("hideFooter");
    var site = Model.Root();
    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
    var search = site.FirstChild<Search>();
    var enableSubHeader = site.Value<bool>("enableSubHeader");

    var showThemeExplorer = _settingsService.Get<bool>(Model, "showThemeExplorer");

    SmidgeHelper
    .CreateJsBundle("igloo-js-bundle")
    .RequiresJs("/scripts/lib/ls.respimg.min.js", 
        "/scripts/lib/ls.bgset.min.js" , 
        "/scripts/lib/lazysizes.min.js",
        "/scripts/lib/fluidvids.js",
        "/scripts/lib/photoswipe.min.js",
        "/scripts/lib/photoswipe-ui-default.min.js",
        "/scripts/lib/instafeed.js",
        "/scripts/lib/flickity.pkgd.min.js",
        "/scripts/lib/forms/promise-polyfill/polyfill.min.js",
        "/scripts/lib/forms/aspnet-validation/aspnet-validation.min.js",
        "/scripts/lib/intersection-observer.js",
        "/scripts/lib/axios.min.js",
        "/scripts/ig-app.js",
        "/scripts/custom.js");

    SmidgeHelper
        .CreateCssBundle("igloo-css-bundle")
        .RequiresCss("~/css/lib/reset.css", 
        "~/css/ig-theme.defaults.css", 
        "~/css/lib/font-awesome.css", 
        "~/css/lib/photoswipe.css", 
        "~/css/ig-base.css", 
        "~/css/ig-header.css", 
        "~/css/ig-footer.css", 
        "~/css/ig-widgets.css",
        "~/css/custom.css"
        );

}

<!DOCTYPE html>
<html lang="@lang">
<head>
    <link rel="preload" href="/ig-assets/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff2" crossorigin>

    @Html.Raw(embedFont)
    @await SmidgeHelper.CssHereAsync("igloo-css-bundle")
    <link href="@Model.GetThemePath()" rel="stylesheet" type="text/css" />

    @await Html.PartialAsync("~/Views/Partials/Shared/Meta.cshtml")
    @if (!string.IsNullOrEmpty(googleTagManagerID))
    {
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@googleTagManagerID');
        </script>
    }

    @if (!string.IsNullOrEmpty(hotjarID))
    {
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:@(hotjarID),hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    }

    <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="/scripts/lib/ie11CustomProperties.js"><\x2fscript>');</script>
</head>
<body class="page-loading @(enableSubHeader ? "pre-top-visible" : "")" data-siteid="@site.Id" data-culture="@System.Threading.Thread.CurrentThread.CurrentCulture.Name">

    <a href="#content" class="button skip-link">@Umbraco.GetDictionaryValue("Jump to content")</a>

    <div class="io-hook"></div>

    @if (!hideHeader)
    {
        if (enableSubHeader)
        {
            @await Html.PartialAsync("~/Views/Partials/Shared/SubHeader.cshtml")
        }
        @await Html.PartialAsync("~/Views/Partials/Shared/Header.cshtml")
    }

    <main id="content">
        @RenderBody()
    </main>

    @if (!hideFooter)
    {
        @await Html.PartialAsync("~/Views/Partials/Shared/Footer.cshtml", site)
    }

    @if (search != null)
    {
        @await Html.PartialAsync("~/Views/Partials/Shared/SearchModal.cshtml")
    }

    @if (enableCookieConsentDialog)
    {
        @await Html.PartialAsync("~/Views/Partials/Shared/CookieConsent.cshtml")
    }

    @await Html.PartialAsync("~/Views/Partials/Shared/PhotoSwipe.cshtml")

    @if (googleAnalyticsId != "")
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@googleAnalyticsId"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '@googleAnalyticsId');
        </script>
    }

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "url": "@site.Url(mode: UrlMode.Absolute)"
        @if(settingsCompanyName != ""){
            <text>,"name": "@settingsCompanyName"</text>
        }
        @if (settingsLogoUrl != null)
        {
            <text>,"logo": "@settingsLogoUrl"</text>
        }

        @if (settingsPhoneNumber != "")
        {
            <text>,"telephone":"@settingsPhoneNumber"</text>
        }
        }
    </script>


    @if (googleTagManagerID != "")
    {
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@(googleTagManagerID)" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    }

    @if (showThemeExplorer || UmbracoContext.InPreviewMode)
    {
        @await Html.PartialAsync("~/Views/Partials/Shared/ThemeExplorer.cshtml")
        <link rel="stylesheet" href="~/css/lib/theme-explorer.css">
        <script src="~/scripts/lib/jscolor.js"></script>
        <script src="~/scripts/lib/theme-explorer.js"></script>
    }

    @await SmidgeHelper.JsHereAsync("igloo-js-bundle")
    @RenderSection("bodyEnd", false)
</body>
</html>